.electronics_button{
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    background-color: rgb(0, 117, 207);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.electronics_button:hover,
.electronics_button:active{
    background-color: #00a2ff;
}

.electronics_button:disabled{
    background-color: #ccc;
    color: #3c3c3c;
    cursor: not-allowed;
}
