.backdrop__wrapper{
    position: absolute;
    height: 200%;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.391);
    z-index: 50;
}

.madal__wrapper{
    background-color: #3f3f3f;
    color: #ccc;
    border-radius: 6px;
    position: absolute;
    max-width: 60%;
    width: 50rem;
    padding: 0 1rem 0.8rem;
    z-index: 51;
    left: 20%;
    top: 25%;
}